@charset "UTF-8";
/* CSS Document */

#which{
	position: fixed;
	bottom: 0;	
	width: 100%;
	left: 0;
	background: red;
	color: black;
	font-size: 20px;
}

video{
	/*position: fixed;*/
	/*left: 100%;*/
	/*top:100%;*/
}